body {
    font-family: sans-serif;
    background-color: #F9F4E6;
    margin: 0;
    padding: 0;
  }

  .menu {
    height: 35px;
    background-color: #FFBAA2;

    display: grid; 
    grid-template-columns: 40px 1fr 40px; 
    grid-template-rows: 35px;
    padding-left: 30vw;
    padding-right: 30vw;
}

.menu_all {
    background-color: #F494AB;
    
}
.menu_search {
    background-color: #E25D7C;
}
.menu_magnify {
    background-color: #F494AB;
    
}

.subhead {
    height: 20px;
    width: 100vw; 
    background-color: #F9F4E6;

}

.maincontents {
    height: 200px;
    width: 100vw;
    background-color: #365367;
    padding-top: 200px;
    margin: auto;
}

.subcontent {
    width: 97vw;
    margin: auto;
  
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 285px; 
    grid-gap: 10px;
  }

  .subcontent_hi {
      background-color: #FFBAA2;
  }
  .subcontent_recentlyviewed {
    background-color: #FFBAA2;
}
.subcontent_preowned {
    background-color: #FFBAA2;
}

.subcontentinfo {
}

.subcontentinfo_audible{
    background-color: #F494AB;
    height: 86px;
}

.subcontentinfo_vitamins{
    background-color: #E25D7C;
    height: 189px;
    margin-top: 10px;
}

.activecontent {
    width: 97vw;
    margin-top: 98px;
    background-color:#F9F4E6;
  
    display: grid; 
    grid-template-columns: 2fr 1fr 1fr; 
    grid-gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .activecontent_video {
      background-color: #E25D7C;
      height: 285px;
  }
  .activecontent_active {
    background-color: #365367;
    height: 285px;
}
.activecontent_fitbit {
    background-color: #FFBAA2;
    height: 285px;
}

.relateditems {
    background-color:#F494AB;
    height: 150px;
    width: 97vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.newitems {
    background-color:#365367;
    height: 150px;
    width: 97vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.random {
    width: 97vw;
    margin: auto;
    margin-top: 10px;
  
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 285px; 
    grid-gap: 10px;
  }

  .random_newtech {
      background-color: #E25D7C;
  }
  .random_cutehome {
    background-color: #E25D7C;
}
  .random_inspo {
  background-color: #E25D7C;
}
  .random_unique {
  background-color: #E25D7C;
}

.shoppingtrends {
    background-color:#FFBAA2;
    height: 150px;
    width: 97vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.amazon {
    background-color: #365367;
    height: 200px;
    width: 97vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.littlesomething {
    background-color:#E25D7C;
    height: 150px;
    width: 97vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.matte_ad {
    background-color:#FFBAA2;
    height: 150px;
    width: 70vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.boxes {
    width: 97vw;
    margin: auto;
    margin-top: 10px;
  
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 285px; 
    grid-gap: 10px;
  }

  .box_plant {
      background-color: #365367;
  }
  .box_recycle {
    background-color: #365367;
}
  .box_handmade {
    background-color: #365367;
}
  .box_ces {
    background-color: #365367;
}

.popularbrands {
    background-color: #FFBAA2;
    height: 150px;
    width: 97vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.wishlist {
    background-color:#E25D7C;
    height: 150px;
    width: 97vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.newyears {
    width: 97vw;
    margin: auto;
    margin-top: 10px;
  
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 285px; 
    grid-gap: 10px;
  }

  .newyear_homegym {
      background-color: #F494AB;
  }
  .newyear_newyearres {
    background-color: #F494AB;
}
  .newyear_homesolutions {
    background-color: #F494AB;
}
  .newyear_chrispratt {
    background-color: #F494AB;
}