body {
    font-family: sans-serif;
    background-color: #18183C;
    margin: 0;
    padding: 0;
  }

  .topbar {
    height: 35px;
    background-color: #DAC545;
}

  .header {
        background-color: #353AA9;
        padding: 20px;
    
}

  .header_watchtype {
      background-color: #F572B7;
      height: 50px;
      width: 80vw;
      margin: auto;

  }

  .introbox{
      background-color: #F4F5F0;
      height: 750px;
  }

  .watchbandcontainer {
      background-color: #F572B7;
      height: 400px;
  }

  .watchbandselection {
      background-color: #DAC545;
      height: 400px;
}

  .skinnypinkbar {
      background-color: #F572B7;
      height: 50px;
      margin-bottom: 31px;
}

  .watchseries3 {
      background-color: #353AA9;
      height: 500px;
  }

  .titaniumwatch {
      background-color: #DAC545;
      height: 500px;
      margin-bottom: 20px;
  }

  .series {
      background-color: #18183C;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
  }

  .series_nike {
      background-color: #F572B7;
      height: 460px;
  }

  .series_hermes {
    background-color: #353AA9;
    height: 460px;
}

  .colorand_info {
      background-color: #18183C;
      height: 250px;
  }

  .color {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }

  .color_green {
      background-color: #DAC545;
      height: 45px;
      width: 45px;
      margin: auto;
      margin-top: 50px;
      
  }

  .color_blue {
    background-color: #353AA9;
    height: 45px;
    width: 45px;
    margin: auto;
      margin-top: 50px;
}

  .color_pink {
    background-color: #F572B7;
    height: 45px;
    width: 45px;
    margin: auto;
      margin-top: 50px;
}

.info {
    background-color: #18183C;
    height: 250px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.info_delivery {
    background-color: #F4F5F0;
    height: 85px;
    width: 25vw;
    margin: auto;
    margin-top: 10px;
}

.info {
    background-color: #18183C;
    height: 250px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.info_card {
    background-color: #F4F5F0;
    height: 85px;
    width: 25vw;
    margin: auto;
    margin-top: 10px;
}

.info {
    background-color: #18183C;
    height: 250px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.info_personalsession {
    background-color: #F4F5F0;
    height: 85px;
    width: 25vw;
    margin: auto;
    margin-top: 10px;
}

.newwatch {
    background-color: #DAC545;
    height: 330px;
    width: 100vw;
    margin-bottom: 50px;
}

.newwatchbands {
    background-color: #353AA9;
    height: 330px;
    width: 100vw;
    margin-bottom: 20px;
}

.applemusic {
    background-color: #F572B7;
    height: 330px;
    width: 100vw;
    margin-bottom: 20px;
}

.airpods {
    background-color: #353AA9;
    height: 330px;
    width: 100vw;
    margin-bottom: 500px;
}

.activity {
    background-color: #18183C;
}

.textbox {
    background-color: #DAC545;
    height: 40px;
    width: 30vw;
    margin: auto;
    margin-bottom: 20px;
}

.side {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-gap: 20px;
}

.side_left{
    background-color: #DAC545;
    height: 400px;
    width: 1fr
}

.side_middle{
    background-color: #F572B7;
    height: 400px;
    width: 1fr
}

.side_right{
    background-color: #DAC545;
    height: 400px;
    width: 1fr
}


.threerings {
    background-color: #353AA9;
    height: 330px;
    width: 100vw;
    margin-bottom: 20px;
}

.appleresearch {
    background-color: #DAC545;
    height: 330px;
    width: 100vw;
    margin-bottom: 20px;
}

.applecard {
    background-color: #F572B7;
    height: 250px;
    width: 100vw;
}